<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> example </title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="central">
            <h1 id="welcome-text">Привет, солнышко!!</h1>
            <button id="nextButton">Далее</button>
        </div>
        <script src="{{ url_for('static', filename='script_main.js') }}"> </script>
    </body>
</html>