<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>valentine.html</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body id="valentine-body">
        <div class="central">
            <div style="margin-left: -20px;">
                <p id="welcome-text" style="margin-left: 20px;">УРАААА!! Люблю тебя блин капец!!</p>
                <img src="{{ url_for('static', filename='mochi-pet.gif') }}" class="central">
            </div>
        </div>
    </body>
</html>